.btn_add {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid $c_line;
    box-sizing: border-box;
    background: url(../images/common/btn_add.svg) no-repeat center center;
}
.btn_del {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid $c_line;
    box-sizing: border-box;
    background: url(../images/common/btn_minus.svg) no-repeat center center;
}

.btn_del4 {
    width: 18px;
    height: 18px;
    background: url(../images/common/ico_del4.svg) no-repeat center center;
}
.btn_back {
    width: 40px;
    height: 40px;
    background-color: $c_key;
    border-radius: 20px;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: darken( $c_key, 7%);
        box-shadow: 0 4px 6px rgba(#000, 0.2);
    }
    &::before {
        content: '\f060';
        //content:'\f053';
        font-family: "Font Awesome 6 Free";
        font-weight: bold;
        color: #fff;
    }
}


.btn_t_link {
    font-weight: 500;
    text-decoration: underline;
    color: $c_blue;
    font-size: 12px;
}
.btn_pdf {
    display: inline-block;
    font-size: 16px;
    line-height: 0;
    &:hover {
        transform: scale(1.1);
    }
}
.btn_down {
    //font-size: 16px;
    line-height: 1;
    display: inline-flex;
    color: #222;
    align-items: center;
    &:hover {
        .txt {
            text-decoration: underline;
        }
        &::after {
            //transform: scale(1.1);
            color: $c_key;
        }
    }
    &::after {
        font-size: 16px;
        content: '\f56d';
        font-family: "Font Awesome 6 Free";
        font-weight: bold;
        color: #393939;
        
    }
}
.btn_down2 {
    &::after {
        //font-size: 16px;
        content: '\f56d';
        font-family: "Font Awesome 6 Free";
        font-weight: bold;
        margin-left: 4px;
    }
}
.btn_del_item {
    width: 20px;
    &::before {
        content: '\f2ed';
        font-family: "Font Awesome 6 Free";
        font-weight: bold;
        font-size: 15px;
        color: #393939;
    }
}

.btn_detail {
    &::after {
        //font-size: 16px;
        content: '\f00e';
        font-family: "Font Awesome 6 Free";
        font-weight: bold;
        margin-left: 4px;
    }
    &.on {
        &::after {
            content: '\f010'
        }
    }
}
.btn_view_more {
    width: 30px;
    height: 30px;
    background: url(../images/common/ico_plus.svg) no-repeat center center;
    background-size: 19px;
    border-radius: 5px;
    transition: all .1s ease;
    &:hover {
        box-shadow: 0 1px 6px rgba(#000, 0.2);
    }
    &:active {
        box-shadow: 0 1px 3px rgba(#000, 0.2);
    }
}

.btn_refresh {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    color: #777;
    transition: all .2s ease-in-out;
    &:hover {
        color: #222;
        transform: rotate(180deg);
    }
}
.btn_set {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    &.ty_nowrap {
        flex-wrap: nowrap;
    }
    &.bg_box {
        background-color: $c_bg_grey;
        padding: 10px 15px;
        border-radius: 10px;
     }
    &.ai_b {
        align-items: flex-end;
    }
    &.ai_c {
        align-items: center;
    }
    &.ai_t {
        align-items: flex-start;
    }
    &.taC {
        justify-content: center;
    }
    &.taL {
        justify-content: flex-start;
    }
    &.taR {
        justify-content: flex-end;
    }
    .btn_set {
        &.pos_left {
            margin-right: auto;
        }
        &.pos_right {
            margin-left: auto;
        }
    }
    &.ty_top {
        height: 0;
    }
}

.f_btn {
    display: inline-block;
    max-width: 100%;
    text-align: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 500;
    
    
    &.ty_xsmall {
        min-width: 40px;
        height: 22px;
        padding: 0 6px;
        font-size: 12px;
        line-height: 20px;
        border-radius: 4px;
        &._round {
            border-radius: 22px;
        }
    }
    &.ty_small {
        min-width: 40px;
        height: 26px;
        padding: 0 6px;
        font-size: 12px;
        line-height: 24px;
        border-radius: 4px;
        &._round {
            border-radius: 26px;
        }
    }
    &.ty_small2 {
        min-width: 40px;
        height: 30px;
        padding: 0 6px;
        font-size: 13px;
        line-height: 28px;
        border-radius: 4px;
        &._round {
            border-radius: 30px;
        }
    }
    &.ty_s_mid {
        height: 32px;
        padding: 0 10px;
        font-size: 14px;
        line-height: 30px;
        border-radius: 4px;
        &._round {
            border-radius: 34px;
        }
    }
    &.ty_mid {
        height: 36px;
        padding: 0 10px;
        font-size: 14px;
        line-height: 34px;
        border-radius: 4px;
        &._round {
            border-radius: 40px;
        }
    }
    &.ty_big {
        height: 50px;
        padding: 0 10px;
        font-size: 16px;
        font-weight: bold;
        line-height: 48px;
        border-radius: 6px;
        width: 200px;
        &._round {
            border-radius: 50px;
        }
    }
    &.disable {
        opacity: 0.4;
        cursor: not-allowed;
       
    }
    &.w100 {
        width: 100%;
    }
}

.btn_delete {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/common/ico_x_w.svg);
    background-position: center center;
    background-size: 12px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #222;
    box-shadow: 1px 1px 2px rgba(#000, 0.3);
}

.ico_edit {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(../images/common/ico_edit.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px;
}

.f_tag {
    display: inline-block;
    min-width: 40px;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 22px;
    height: 22px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    border: 1px solid transparent;
}

.tag_box {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}