.tab_list {
    display: flex;
    &_item {
        &:last-child {
            .tab_list_btn {
                border-right: 1px solid #ccc;
            }
        }
        &.on {
            .tab_list_btn {
                //background-color: $c_key;
                color: $c_key;
                font-weight: bold;
                border-bottom: 1px solid #fff;
                border-top: 1px solid $c_key;
                &::before {
                    content:'';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $c_key;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
    &_btn {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 15px;
        border: 1px solid #ccc;
        border-right: none;
        font-size: 13px;
    }  
} 

.tab_cont {
    padding: 15px;
    border: 1px solid #ccc;
    margin-top: -1px;
    border-radius: 0 10px 10px 10px;
}

.tab_wrap {
    &.ty_nolink {
        .tab_cont_item {
            display: none;
            &.on {
                display: block;
            }
        }
    }
}

.type_select {
    display: flex;
    border: 1px solid #ccc;
    height: 140px;
    &_sec {
        flex: 1;
        overflow-y: auto;
        padding: 15px;
        &.dep1 {
            background-color: rgba($c_key, .07);
        }
        & + & {
            border-left: 1px solid #ccc;
        }
        
    }
    .btn_type {
        cursor: pointer;
        display: block;
        padding: 4px;
        font-size: 13px;
        line-height: 22px;
        width: 100%;
        box-sizing: border-box;
        text-align: left;

        position: relative;
        input[type="checkbox"] {
            opacity: 0;
            position: absolute;
            &:checked ~ span {
                font-weight: 500;
                color: $c_blue;
                &::after {
                    
                    margin-left: 4px;
                    content: '\f00c';
                    font-family: "Font Awesome 6 Free";
                    
                    transform: translateY(1px);
                    color: $c_blue;
                    font-weight: bold;
                    font-size: 12px;
                }
            }
        }
        
        input[type="radio"] {
            opacity: 0;
            position: absolute;
            &:checked ~ span {
                font-weight: bold;
                &::after {
                    
                    margin-left: 5px;
                    content: '\f0d9';
                    font-family: "Font Awesome 6 Free";
                    
                    transform: translateY(1px);
                    color: $c_blue;
                    font-weight: bold;
                }
            }
        }
        span {
            display: flex;
            align-items: center;
        }
    }
    .list_dep1, .list_dep2 {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 25%;
            flex-shrink: 0;
            &:hover {
                background-color: rgba($c_key, .1);
            }
        }
    }
    .output_list {
        flex-wrap: wrap;
        display: flex;
        gap: 10px 15px;
        .output_item {
            position: relative;
            background-color: rgba($c_key, .1);
            border-radius: 4px;
            padding: 0 10px;
            padding-right: 16px;
            white-space: nowrap;
            font-size: 13px;
            line-height: 24px;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
            .btn_delete {
                position: absolute;
                right: -4px;
                top: -4px;
            }
        }
    }

}