.ui-datepicker { display: none; width: 248px; background-color: #fff; margin-top: 5px; padding: 15px 10px 10px; border: 1px solid #d9d9d9; box-sizing: border-box;box-shadow: 0 5px 10px rgba(0,0,0, .2); z-index: 9999 !important;}
.ui-datepicker .ui-datepicker-header { display: flex; padding: 0; border: none; background: none; margin-bottom: 10px; }
.ui-datepicker .ui-datepicker-title { margin-left: auto; display: flex; align-items: center; box-sizing: border-box; font-family: 'Pretendard'; font-size: 14px; text-align: left; }
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 60px; border: none; box-sizing: border-box; font-family: 'Pretendard'; font-size: 14px; font-weight: 500; color: #000; cursor: pointer;}
.ui-datepicker select.ui-datepicker-year { margin-right: 15px; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next { display: flex; justify-content: center; align-items: center; top: 0; padding: 0; cursor: pointer; background-color: #eee; border-radius: 4px;}
.ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ui-datepicker .ui-datepicker-next.ui-state-hover {
    background-color: #ddd;
}
.ui-datepicker .ui-datepicker-prev {
    margin-right: 4px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span { width: 25px; height: 25px; position: static; margin: 0; background: center center no-repeat;font-size: 0;}
.ui-datepicker .ui-datepicker-prev span { background-image: url('../images/common/paging_prev.svg'); }
.ui-datepicker .ui-datepicker-next span { background-image: url('../images/common/paging_next.svg'); }




.ui-datepicker table { margin-bottom: 0; width: 100%; }
.ui-datepicker th { width: 14.28%; height: 30px; padding: 0; font-family: 'Pretendard'; font-size: 12px; font-weight: 400; color: #a6a6a6; text-align: center; }
.ui-datepicker td { width: 14.28%; height: 30px; padding: 0; font-family: 'Pretendard'; font-size: 12px; text-align: center;}

.ui-datepicker .ui-state-default,
.ui-datepicker .ui-widget-header .ui-state-default,
.ui-datepicker .ui-button { display: flex; justify-content: center; align-items: center; width: 30px; height: 30px; margin: 0 auto; padding: 0; border: none; box-sizing: border-box; background: none; font-weight: 400; color: #000; text-align: center; }

.ui-datepicker .ui-state-highlight,
.ui-datepicker .ui-widget-header .ui-state-highlight { color: #1b5bea; }

.ui-datepicker .ui-state-active,
.ui-datepicker .ui-widget-header .ui-state-active,
.ui-datepicker a.ui-button:active,
.ui-datepicker .ui-button:active,
.ui-datepicker .ui-button.ui-state-active:hover { border-radius: 50%; box-sizing: border-box; background: rgba(27, 91, 174, 0.1); font-weight: 700; color: #1b5bea; }